/* ROOT : variables globale de style. */

:root {
    --background-color: #FFFFFF;
    --text-color: rgba(32, 27, 38, 0.87);
    --main-color: #9A86FD;
    --secondary-color: #E8DCF7;
    --big-font: ;
    --medium-font: ;
    --little-font: ;
}

.dark_mode {
    --background-color: hsl(0, 0%, 8.5%);
    --text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1E1E1E;
}

.home_bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(65.5deg, rgba(208, 105, 136, 0.8) -3.17%, rgba(220, 201, 28, 0.8) 104.75%);
}