/* ROOT : variables globale de style. */

 :root {
    --background-color: #FFFFFF;
    --text-color: #FFFFFF;
    --main-color: #FF7A7A;
    --secondary-color: #E8DCF7;
    --big-font: 40px;
    --medium-font: 16px;
    --little-font: 14px;
}

@font-face {
    font-family: FontBold;
    src: url('../public/DM_Sans/DMSans-Bold.ttf');
}

@font-face {
    font-family: FontMedium;
    src: url('../public/DM_Sans/DMSans-Medium.ttf');
}

@font-face {
    font-family: FontRegular;
    src: url('../public/DM_Sans/DMSans-Regular.ttf');
}