#popupform {
    display: flex;
    flex-direction: column;
    gap: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    position: fixed;
    background: rgba(40, 40, 40, 0.8);
    z-index: 1000000;
    width: 50%;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#popupform .fields {
    border-left: 2px solid var(--main-color);
    padding-left: 15px;
}

button {
    cursor: pointer;
}

#popupform button {
    margin-left: auto;
    border-left: 2px solid var(--main-color);
}

@media (max-width: 820px) {
    #popupform {
        transform: translate(-50%, -50%);
    }
}